body{
    font-family:'Lobster Two', cursive;
    background-color:rgb(9, 199, 126)
}

/* navbar css starts here  */
.bg-light{
    background-color:rgb(221, 19, 19);
}

.navbar-brand{
    font-family:"Noto Sans",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a1a1b!important;
}

.nav-link{
    color: #232425!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: rgb(112, 112, 112, 0.5)!important;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(94, 32, 85)!important;
    color: rgb(243, 245, 239)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.5s;
}

.btn-info:hover{
    background-color: rgb(122, 115, 115)!important;
}

#a{
    color: #1f0aad;
}
.navbar-brand img{
    height: 55px;
    padding-left: 30px;
}
th{
    background-image: linear-gradient(pink);
}
td{
    background-image: linear-gradient(#6e2424, #f0f0f0);
}
table, td, th {
    border: 1px solid rgb(167, 17, 17);
}

footer{
    text-align: center;
    height: 200px;
    color: seashell;
    background-color:rgba(0, 0, 0, 0.856);
}
.lfooter{
    margin-top: 20px;
    padding-bottom: 0%;
    height:30%;
    color: #333;
    background-color: rgb(255, 255, 255);
}